$validColor: #377D71;
$invalidColor: #EB4747;

.valid {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
    color: $validColor;
}

.invalid {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
    color: $invalidColor;
}

.validInput {
    border: solid 1px $validColor;
    transition: all 100ms;
}

.invalidInput {
    border: solid 1px $invalidColor;
    transition: all 100ms;
}