@mixin dropdown-menu-buttons($buttonTextColor) {
    width: 90%;
    font-family: 'HallymGothic-Regular';
    background-color: transparent;
    color: $buttonTextColor;
    text-align: left;
}

.userDropdown {
    position: relative;
    display: inline-flex;
    &Toggle {
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        background-color: white;
        color: #51557E;
    }
    &Menu {
        position: absolute;
        z-index: 2;
        top: calc(100% + 4px);
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 6px;
        transition: border-color 200ms ease-in, padding 200ms ease-in,
          max-height 200ms ease-in, box-shadow 200ms ease-in;
          &.show {
            padding: 8px 0;
            max-height: 400px;
            border-color: rgba(224, 226, 231, 0.5);
            background-color: #fff;
            box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
            button {
                @include dropdown-menu-buttons(#51557E);
                position: relative;
                &:after {
                    content: '';
                    width: 0;
                    position: absolute;
                    left: 0;
                    bottom: 4px;
                    z-index: -1;
                    border-bottom: solid 12px #e6e7f8;
                    transition: width 300ms;
                  }
                &:hover {
                    &:after {
                        content: '';
                        width: 90%;
                        position: absolute;
                        left: 0;
                        bottom: 4px;
                        z-index: -1;
                        border-bottom: solid 12px #e6e7f8;
                      }
                }
                a {
                    text-decoration: none;
                    color: #51557E;
                    background-color: transparent;
                }
            }
          }
          &Item {
            padding: 6px 0;
            button {
                @include dropdown-menu-buttons(transparent);
                a {
                    text-decoration: none;
                    color: transparent;
                }
            }
          }
    }
    .avatarPreview {
        display: inline-flex;
        width: 30px;
        height: 30px;
        background-color: transparent;
        object-fit: contain;
        border-radius: 50%;
        vertical-align: middle;
        img {
            width: 100%;
            height: 100%;
            max-height: auto;
            border-radius: inherit;
            object-fit: cover;
        }
    }
    .avatarDefault {
        display: inline-flex;
        width: 30px;
        height: 30px;
        background-color: #51557E;
        object-fit: contain;
        border-radius: 50%;
        vertical-align: middle;
    }
    .userName {
        vertical-align: middle;
        margin-left: 8px;
    }
}