@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'HallymGothic-Regular';
}

body {
    background-color: #F2EBE9;
    min-height: 100vh;
}

h1 {
    font-family: 'NEXONFootballGothicBA1';
    color: #51557E;
}

button {
    font-family: 'NEXONFootballGothicBA1';
    border: none!important;
}

.main-container {
    // padding: 60px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}