@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'HallymGothic-Regular';
}

body {
    background-color: #F2EBE9;
    min-height: 100vh;
}

h1 {
    font-family: 'NEXONFootballGothicBA1';
    color: #51557E;
}

button {
    font-family: 'NEXONFootballGothicBA1';
    border: none!important;
}

label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

input, textarea {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    &::placeholder {
        font-size: 14px;
    }
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.start {
    opacity: 0;
}

.end {
    opacity: 1;
    transition : opacity 500ms;
}

.main-container {
    margin-top: 60px;
    min-height: calc(100vh - 187px);
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

.form-container {
    align-self: center;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 10px 5px 20px 5px rgba(0,0,0,0.01);
}