.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
        padding-left: 40px;
    }
    button {
        width: 20%;
        justify-self: end;
    }
}

.card {
    border: solid 1px #d6d6d6;
    border-radius: 12px;
    padding: 0 24px 24px 36px;
    margin: 12px 0;
    h2 {
        cursor: pointer;
        color: darkslategray;
    }
    .textMuted {
        color: #a5a5a5;
    }
    .description {
        white-space: pre-wrap;
    }
}

.listInit {
    list-style: none;
}

.editBtn {
    background-color: palegoldenrod;
    border: none;
    margin-right: 12px;
}

.deleteBtn {
    background-color: tomato;
    border: none;
}