.boardContainer {
    padding-bottom: 32px;
    .writeBtn {
        padding: 0.5rem 1rem;
        background-color: #51557E;
        border: none;
        &:hover {
            background-color: #51557E;
        }
        &:focus {
            box-shadow: none!important;
            background-color: #51557E;
        }
        &:active {
            transform: scale(0.95);
            transition: all 100ms;
        }
    }
    li {
        &:first-child {
            margin-top: 20px;
        }
    }
    .noContent {
        margin-top: 120px;
        text-align: center;
    }
}