.commentContainer {
    padding: 24px 0;
    margin-bottom: 40px;
    .commentTitle {
        font-family: 'NEXONFootballGothicBA1';
        color: #51557E;
    }
    .commentFormContainer {
        // background-color: white;
        border-radius: 12px;
        padding: 4 0px;
        margin: 16px 0;
        .commentForm {
            all: unset;
            width: 100%;
            max-width: 100%;
            .commentInput {
                display: inline-flex;
                max-width: 100%;
                width: 95.7%;
                @media screen and (max-width: 1400px) {
                    width: 95%;
                }
                @media screen and (max-width: 1200px) {
                    width: 94%;
                }
                @media screen and (max-width: 992px) {
                    width: 92%;
                }
                @media screen and (max-width: 768px) {
                    width: 89%;
                }
                @media screen and (max-width: 519px) {
                    width: 88.5%;
                }
                @media screen and (max-width: 476px) {
                    width: 85%;
                }
            }
            .replyInput {
                display: inline-flex;
                margin-left: 12px;
                width: 93%;
                max-width: 100%;
                @media screen and (max-width: 1400px) {
                    width: 86%;
                }
                @media screen and (max-width: 768px) {
                    width: 80%;
                }
                @media screen and (max-width: 576px) {
                    width: 73%;
                }
            }
            .enrollBtn {
                background-color: #51557E;
                color: white;
                vertical-align: baseline;
                margin-left: 4px;
                &:hover {
                    background-color: #51557E;
                    color: white;
                }
                &:focus {
                    background-color: #51557E;
                    color: white;
                    box-shadow: none;
                }
            }
        }
    }
    .commentCard {
        margin-bottom: 8px;
        border: none;
        background-color: white;
        border-radius: 12px;
        box-shadow: 10px 5px 20px 5px rgba(0,0,0,0.01);
        padding: 12px 12px 12px 20px;
        .userInfoColumn {
            display: flex;
            .avatarPreview {
                display: inline-flex;
                width: 40px;
                height: 40px;
                background-color: transparent;
                object-fit: contain;
                border-radius: 50%;
                margin-right: 12px;
                img {
                    width: 100%;
                    height: 100%;
                    max-height: auto;
                    border-radius: inherit;
                    object-fit: cover;
                }
            }
            .avatarDefault {
                display: inline-flex;
                width: 40px;
                height: 40px;
                background-color: transparent;
                object-fit: contain;
                border-radius: 50%;
                margin-right: 12px;
            }
            .userInfo {
                align-self: center;
                color: #51557E;
                font-size: 12px;
                .userEmail {
                    color: #a2a5cd;
                    font-size: 12px;
                }
                .commentDate {
                    color: #a5a5a5;
                    // font-size: 12px;
                    margin: 0;
                    font-size: 10px;
                }
            }
        }
        .commentDeleteBtn {
            padding: 0 8px 0 0;
            border: none;
            text-align: right;
            background-color: transparent;
            &:focus {
                box-shadow: none!important;
                background-color: transparent;
            }
        }
    }
    .replyBtn {
        background-color: transparent;
        color: #51557E;
        font-size: 12px;
        &:hover {
            background-color: transparent;
            color: #51557E;
        }
        &:focus {
            background-color: transparent;
            color: #51557E;
            box-shadow: none;
        }
        &:active {
            box-shadow: none!important;
        }
    }
    .replyCard {
        background-color: rgb(248, 249, 250);
        border-radius: 12px;
        margin-bottom: 8px;
        border: none;
        padding: 16px 12px 12px 20px;
    }
    .noContent {
        text-align: center;
        padding-top: 20px;
        h5 {
            font-family: 'NEXONFootballGothicBA1';
            color: #51557E;
        }
    }
}