.commentContainer {
    padding: 24px 0;
    margin-bottom: 40px;
    .commentTitle {
        font-family: 'NEXONFootballGothicBA1';
        color: #51557E;
    }
    .commentCard {
        margin-bottom: 8px;
        border: none;
        background-color: rgb(241, 241, 241);
        padding: 12px 12px 12px 20px;
    }
    .enrollBtn {
        background-color: #51557E;
        color: white;
        &:hover {
            background-color: #51557E;
            color: white;
        }
        &:focus {
            background-color: #51557E;
            color: white;
            box-shadow: none;
        }
        &:active {
            box-shadow: none!important;
        }
    }
    .avatarPreview {
        width: 40px;
        height: 40px;
        background-color: #143F6B;
        object-fit: contain;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            max-height: auto;
            border-radius: inherit;
            object-fit: cover;
        }
    }
    .date {
        font-size: 10px;
        color: #A5A5A5;
    }
    .replyBtn {
        background-color: transparent;
        color: #51557E;
        font-size: 12px;
        &:hover {
            background-color: transparent;
            color: #51557E;
        }
        &:focus {
            background-color: transparent;
            color: #51557E;
            box-shadow: none;
        }
        &:active {
            box-shadow: none!important;
        }
    }
}