.editContainer {
    margin-top: 60px;
    form {
        padding: 40px!important;
        background-color: white;
    }
    .editBtn {
        margin-top: 8px;
        padding: 0.5rem 1rem;
        background-color: #51557E;
        border: none;
        &:hover {
            background-color: #51557E;
        }
    }
}