.editContainer {
    .editRow {
        justify-content: center;
        padding: 0 1rem;
        min-height: 75vh;
    }
    .editForm {
        all: unset;
        input, textarea {
            width: 100%;
            max-width: 100%;
        }
    }
    .editBtn {
        width: 100%;
        padding: 0.5rem 2rem;
        margin-top: 32px;
        background-color: #51557E;
        border: none;
        &:hover {
            background-color: #51557E;
        }
        &:focus {
            box-shadow: none!important;
            background-color: #51557E;
        }
    }
}