.headerContainer {
    background-color: #F2EBE9;
    padding: 0 60px;
    display: flex;
    .logoutBtn {
        padding: 0.5rem 1rem;
        background-color: #51557E;
        border: none;
    }
}