.headerContainer {
    background-color: white;
    margin-bottom: 0;
    .navBrand {
        color: rgba(0, 0, 0, 0.9);
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }
    .backBtn {
        background-color: transparent;
        border: none;
        svg {
            stroke: #51557E;
        }
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
            box-shadow: none;
        }
        &:active {
            background-color: transparent;
            box-shadow: none!important;
        }
    }
    .avatarPreview {
        width: 30px;
        height: 30px;
        background-color: transparent;
        object-fit: contain;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            max-height: auto;
            border-radius: inherit;
            object-fit: cover;
        }
    }
    .avatarDefault {
        width: 30px;
        height: 30px;
        background-color: #51557E;
        object-fit: contain;
        border-radius: 50%;
    }
    .dropdown {
        &Toggle {
            display: inline-flex;
            align-items: center;
            color: #51557E;
            background-color: white;
            &:focus {
                color: #51557E!important;
                background-color: white!important;
                box-shadow: none!important;
            }
            &:hover {
                color: #51557E;
                background-color: white;
            }
            &:after {
                display: none;
            }
            span {
                margin-left: 8px;
            }
        }
        &Menu {
            left: unset!important;
            right: 0;
            a {
                display: block;
                text-decoration: none;
                color: rgb(57, 57, 57);
                margin-bottom: 4px;
            }
            .logoutBtn {
                padding: 0;
                background-color: transparent;
                border: none;
                color: #51557E;;
                &:hover {
                    color: #51557E;
                    background-color: transparent;
                }
            }
        }
    }
}