.loginContainer {
    .loginRow {
        padding: 0 1rem;
        justify-content: center;
        min-height: 65vh;
    }
    .formContainer {
        align-self: center;
        background-color: white;
        padding: 40px;
        border-radius: 12px;
        box-shadow: 10px 5px 20px 5px rgba(0,0,0,0.01);
    }
    .loginForm {
        all: unset!important;
        input {
            width: 100%;
        }
    }
    .loginBtn {
        width: 100%;
        padding: 0.5rem 2rem;
        margin-top: 32px;
        background-color: #51557E;
        border: none;
        &:hover {
            background-color: #51557E;
        }
        &:focus {
            box-shadow: none!important;
            background-color: #51557E;
        }
        &:active {
            transform: scale(0.95);
            transition: all 100ms;
        }
    }
    .loginLink {
        margin-top: 16px;
        color: #51557E;
        display: flex;
    }
}