.writeContainer {
    padding: 60px;
    .writeBtn {
        margin-top: 8px;
        padding: 0.5rem 1rem;
        background-color: #51557E;
        border: none;
        &:hover {
            background-color: #51557E;
        }
    }
}